.ws-form-container {
    max-width: 640px;
}

.ws-file-name {
    max-width: calc(100vw - 151px);
    width: 100%;
}

.table.is-hoverable tbody tr {
    cursor: pointer;
}

.pre-wrap {
    white-space: pre-wrap;
}
